
#battleField {
  display: flex;
  justify-content: space-evenly;
  margin-top: 7rem;
}

#usersPokemon{
  height: 90%;
  filter: drop-shadow(gray 3px 3px);
  image-rendering: pixelated;
}

#enemyPokemon{
  height: 40%;
  filter: drop-shadow(gray 3px 3px);
  image-rendering: pixelated;
}

body{
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Pokemon Solid', sans-serif;
  background-image: url("./assets/background_base.jpeg");
  background-size: cover;
  background-attachment: fixed;

}

ul {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
  align-items: center;
  justify-items: center;
  grid-column-start: 2;
}

li {
  text-align: center;
  list-style-type: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#selectPokes{
  image-rendering: pixelated;
  width: 300px;
}


.healthBar0{
  height: 20px;
  width: 5cm;
  border-radius: 10px;
}
.healthBar1{
  height: 20px;
  width: 5cm;
  border-radius: 10px;
}
.healthBar2{
  height: 20px;
  width: 5cm;
  border-radius: 10px;
}
.healthBar3{
  height: 20px;
  width: 5cm;
  border-radius: 10px;
}

.healthBar0::-webkit-progress-value {
  background: red;
  border-radius: 10px;
}
.healthBar0::-webkit-progress-bar {
  border-radius: 10px;
}

.healthBar1::-webkit-progress-value {
  background: orange;
  border-radius: 10px;
}
.healthBar1::-webkit-progress-bar {
  border-radius: 10px;
}

.healthBar2::-webkit-progress-value {
  background: yellowgreen;
  border-radius: 10px;
}
.healthBar2::-webkit-progress-bar {
  border-radius: 10px;
}

.healthBar3::-webkit-progress-value {
  background: green;
  border-radius: 10px;
}
.healthBar3::-webkit-progress-bar {
  border-radius: 10px;
}


#navBar{
  height: 3rem;
}

#locationSelector{
  border: rgb(0, 0, 0) solid 3px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.306);
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
  
}

#onePoke{
  border: rgb(0, 0, 0) solid 3px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.306);
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
  cursor: pointer;
}



button{
  margin: 0.7rem;
  background-color: yellow;
  border-radius: 20px;
  font-size: large;
  cursor: pointer;
}

#attackBtn{
  margin-top: 2.3rem;
  height: 10px;
}

#attackBtn button{
  padding-top: 15%;
  background-image: url("./assets/attackBtnPng.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  border: none;
  width: 180px;
  height: 10px;
  background-color: transparent;

}

#pokemonDead{
  height: 250px;
}