@font-face {
  font-family: "pokemon GB";
  src: url("./assets/fonts/Pokemon\ GB.ttf");
}


#battleField {
  display: flex;
  justify-content: space-evenly;
  margin-top: 7rem;
}

#usersPokemon{
  height: 90%;
  filter: drop-shadow(3px 3px gray);
  image-rendering: pixelated;
}

#enemyPokemon{
  height: 40%;
  filter: drop-shadow(3px 3px gray );
  image-rendering: pixelated;
}

body{
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'pokemon GB', sans-serif;
  background-image: url("./assets/background_base.jpeg");
  background-size: cover;
  background-attachment: fixed;

}

ul {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
  align-items: center;
  justify-items: center;
  grid-column-start: 2;
}

li {
  text-align: center;
  list-style-type: none;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

li:hover::before {
  content: "";
  position: absolute;
  left: -10%;
  transform: translateY(-50%);
  width: 2px;
  height: 2px;
  font-size: 2px;
  color: #181010;
  box-shadow: 1em 0em 0 #181010, 2em 0em 0 #181010, 1em 1em 0 #181010, 2em 1em 0 #181010, 3em 1em 0 #181010, 1em 2em 0 #181010, 2em 2em 0 #181010, 3em 2em 0 #181010, 4em 2em 0 #181010, 1em 3em 0 #181010, 2em 3em 0 #181010, 3em 3em 0 #181010, 4em 3em 0 #181010, 5em 3em 0 #181010, 1em 4em 0 #181010, 2em 4em 0 #181010, 3em 4em 0 #181010, 4em 4em 0 #181010, 1em 5em 0 #181010, 2em 5em 0 #181010, 3em 5em 0 #181010, 1em 6em 0 #181010, 2em 6em 0 #181010;
}
#selectPokes{
  image-rendering: pixelated;
  width: 300px;
}


.healthBar0{
  height: 20px;
  width: 5cm;
  border-radius: 10px;
}
.healthBar1{
  height: 20px;
  width: 5cm;
  border-radius: 10px;
}
.healthBar2{
  height: 20px;
  width: 5cm;
  border-radius: 10px;
}
.healthBar3{
  height: 20px;
  width: 5cm;
  border-radius: 10px;
}

.healthBar0::-webkit-progress-value {
  background: red;
  border-radius: 10px;
}
.healthBar0::-webkit-progress-bar {
  border-radius: 10px;
}

.healthBar1::-webkit-progress-value {
  background: orange;
  border-radius: 10px;
}
.healthBar1::-webkit-progress-bar {
  border-radius: 10px;
}

.healthBar2::-webkit-progress-value {
  background: rgb(230, 254, 49);
  border-radius: 10px;
}
.healthBar2::-webkit-progress-bar {
  border-radius: 10px;
}

.healthBar3::-webkit-progress-value {
  background: rgb(0, 98, 255);
  border-radius: 10px;
}
.healthBar3::-webkit-progress-bar {
  border-radius: 10px;
}


#navBar{
  height: 3rem;
}

#locationSelector{
  border: rgb(0, 0, 0) solid 3px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.306);
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
  
}

#onePoke{
  border: rgb(0, 0, 0) solid 3px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.306);
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
  cursor: pointer;
}



button{
  margin: 0.7rem;
  background-color: yellow;
  border-radius: 20px;
  font-size: large;
  cursor: pointer;
}

#attackBtn{
  margin-top: 2.3rem;
  height: 10px;
}

#attackBtn button{
  padding-top: 15%;
  background-image: url("./assets/attackBtnPng.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  border: none;
  width: 180px;
  height: 10px;
  background-color: transparent;

}

#pokemonDead{
  height: 250px;
}


button, .button {
  position: relative;
  font-family: "Pokemon GB";
  font-size: 1em;
  background: none;
  border: none;
  padding: 0 0 0 1em;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer; }
  button:hover::before, .button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 2px;
    height: 2px;
    font-size: 2px;
    color: #181010;
    box-shadow: 1em 0em 0 #181010, 2em 0em 0 #181010, 1em 1em 0 #181010, 2em 1em 0 #181010, 3em 1em 0 #181010, 1em 2em 0 #181010, 2em 2em 0 #181010, 3em 2em 0 #181010, 4em 2em 0 #181010, 1em 3em 0 #181010, 2em 3em 0 #181010, 3em 3em 0 #181010, 4em 3em 0 #181010, 5em 3em 0 #181010, 1em 4em 0 #181010, 2em 4em 0 #181010, 3em 4em 0 #181010, 4em 4em 0 #181010, 1em 5em 0 #181010, 2em 5em 0 #181010, 3em 5em 0 #181010, 1em 6em 0 #181010, 2em 6em 0 #181010; }
  button.pokemon, .button.pokemon {
    text-indent: -1000em;
    width: 100%;
   
    background-size: contain; }